[submodule "test_submodule"]
	path = test_submodule
	url = ./test_submodule/
[submodule "git_test_repo_algo_club"]
	path = git_test_repo_algo_club
	url = https://github.com/RajanKandel/git_test_repo_algo_club/
