[submodule "test_submodule"]
	path = test_submodule
	url = ./test_submodule/
[submodule "git_test_repo_algo_club"]
	path = git_test_repo_algo_club
	url = https://github.com/RajanKandel/git_test_repo_algo_club/
[submodule "test_submodule2"]
	path = test_submodule2
	url = git@github.com:RajanKandel/test_submodule2.git
[submodule "RajanKandel_IOB_algo_club"]
	path = RajanKandel_IOB_algo_club
	url = git@github.com:RajanKandel/RajanKandel_IOB_algo_club.git
